In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
import warnings
from keras.datasets import mnist
from utils.functions import Gaus_neuron, LIF_SNN
import cv2

warnings.filterwarnings("ignore")
(train_X, train_y), (test_X, test_y) = mnist.load_data()

train_X = train_X[:, :, :, None]
test_X  = test_X[:, :, :, None]

In [37]:
TrainX, TestX = [], []

for img in train_X:
    img = cv2.resize(img, (10, 10))
    img = img/255.0
    img = img.reshape(1, 100)
    TrainX.append(img[0])

for img in test_X:
    img = cv2.resize(img, (10, 10))
    img = img/255.0
    img = img.reshape(1, 100)
    TestX.append(img[0])

In [39]:
Column = [[] for idx in range(101)]

for idx in range(60000):
    for list_fea_idx in range(100):
        Column[list_fea_idx].append(TrainX[idx][list_fea_idx])
    Column[100].append(train_y[idx])

In [46]:
lst_column = [str(idx) for idx in range(0, 100)]
lst_column.append("Class")


df = pd.DataFrame(list(zip(*Column)), columns = lst_column)

In [47]:
df.to_csv()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,Class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.043137,0.368627,0.0,0.0,0.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,8
59996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,3
59997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,5
59998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,6
59999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,8